In [1]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('default')
import seaborn as sns

In [2]:
csv = pd.read_csv('./서울시_우리마을가게_상권분석서비스(구_상권배후지_소득소비)_utf.csv',encoding = "cp949")

csv

,기준 년 코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,여가_지출_총금액,문화_지출_총금액,교육_지출_총금액,유흥_지출_총금액
0,2021,1,A,골목상권,1000193,왕산로43길,2729716,6,7501923026,2151712515,888933146,553108402,1067767035,1166698759,261418507,233074790,865027157,314182715
1,2021,1,A,골목상권,1000298,정릉로27길,3355209,7,11842475922,3099929654,1428912815,849935987,1555173516,1968536418,440069908,348552899,1651824332,499540393
2,2021,1,A,골목상권,1000297,정릉로26길,3338064,7,6179246740,1683952466,733874296,430168476,826003935,976992453,213755800,182240005,871685006,260574303
3,2021,1,A,골목상권,1000296,장위로50길,2416795,5,5235197988,1501033989,616414129,374450525,756011966,807825584,183610620,160542222,621093249,214215704
4,2021,1,A,골목상권,1000295,장월로1길,2956757,6,4803914725,1364476852,574723444,344562961,659910597,734715693,163371736,152451762,605566880,204134800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31305,2014,4,A,골목상권,1000409,연서로3길,3264390,7,8546298637,2439652577,1002395099,584239240,1203065420,1316966726,293333144,264123690,1096819048,345703693
31306,2014,4,A,골목상권,1000906,도산대로23길,3939775,8,4496832642,1076732844,567240740,350469569,492184064,776273341,188154328,141340874,705249550,199187332
31307,2014,4,A,골목상권,1000834,청룡길,3360742,7,10158457675,2765644178,1276965216,799794843,1299200845,1654492759,374670615,353761055,1171833190,462094974
31308,2014,4,A,골목상권,1000149,뚝섬로64길,4400547,8,4657927570,1210580144,583354177,359064090,599274860,801350131,190114858,144997399,564568661,204623250
31309,2014,4,A,골목상권,1000444,신촌로37길,3118793,7,3883394428,1094699916,465532262,284944491,524587040,608015067,130706344,124953386,482917270,167038652

In [3]:
df = pd.DataFrame( csv, columns = ["기준 년 코드", "기준_분기_코드", "상권_구분_코드", "상권_구분_코드_명","상권_코드","상권_코드_명","월_평균_소득_금액","소득_구간_코드","지출_총금액"] )

In [4]:
df

,기준 년 코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,월_평균_소득_금액,소득_구간_코드,지출_총금액
0,2021,1,A,골목상권,1000193,왕산로43길,2729716,6,7501923026
1,2021,1,A,골목상권,1000298,정릉로27길,3355209,7,11842475922
2,2021,1,A,골목상권,1000297,정릉로26길,3338064,7,6179246740
3,2021,1,A,골목상권,1000296,장위로50길,2416795,5,5235197988
4,2021,1,A,골목상권,1000295,장월로1길,2956757,6,4803914725
...,...,...,...,...,...,...,...,...,...
31305,2014,4,A,골목상권,1000409,연서로3길,3264390,7,8546298637
31306,2014,4,A,골목상권,1000906,도산대로23길,3939775,8,4496832642
31307,2014,4,A,골목상권,1000834,청룡길,3360742,7,10158457675
31308,2014,4,A,골목상권,1000149,뚝섬로64길,4400547,8,4657927570
31309,2014,4,A,골목상권,1000444,신촌로37길,3118793,7,3883394428

In [5]:
starbucks_csv = pd.read_csv("./starbucks.csv")

In [6]:
starbucks_csv

,Unnamed: 0,address,lat,long,name
0,0,"광주광역시 광산구 장신로 134, 1~2층 (수완동)",35.190397,126.824804,광산수완
1,1,광주광역시 광산구 임방울대로 487 (수완동),35.203175,126.819065,광주수완DT
2,2,광주광역시 광산구 장신로 85 (장덕동),35.191469,126.819259,광주장덕
3,3,광주광역시 광산구 첨단중앙로 104 (월계동),35.214806,126.843227,광주첨단
4,4,광주광역시 광산구 목련로 335 (신가동),35.179047,126.830126,광주신가DT
...,...,...,...,...,...
1750,1750,세종특별자치시 도움8로 81 (어진동),36.504565,127.270769,세종청사
1751,1751,"세종특별자치시 아름서1길 13-9 (아름동) 103,104,105,202,203호",36.511880,127.242770,세종아름
1752,1752,세종특별자치시 노을3로 101 (한솔동),36.479955,127.253348,세종한솔
1753,1753,"세종특별자치시 소담3로 8 (소담동) 1동 12호,13호,14호,15호,15a호,16호",36.485755,127.300509,세종소담
1754,1754,세종특별자치시 보듬7로 20 (도담동) 헬스케어센터 1층,36.519360,127.258280,세종충남대학교병원

In [7]:
import numpy as np
star_df = np.array(starbucks_csv)
result = []
for data in star_df:
        if "서울특별시" in data.T[1]:
            result.append(data)
result = np.array(result)            
print(result)

[[10 '서울특별시 강남구 언주로 425 (역삼동)' 37.501087 127.043069 '역삼아레나빌딩']
 [11 '서울특별시 강남구 강남대로 538 (논현동)' 37.510178 127.022223 '논현역사거리']
 [12 '서울특별시 강남구 강남대로 584 (논현동)' 37.5139309 127.0206057 '신사역성일빌딩']
 ...
 [602 '서울특별시 중랑구 동일로 952 (묵동, 로프트원 태릉입구역) 1층' 37.615368 127.076633 '묵동']
 [603 '서울특별시 중랑구 양원역로10길 3 (망우동)' 37.6066536267232 127.106359790053 '양원역']
 [604 '서울특별시 중랑구 봉화산로 35 ' 37.60170912407773 127.07841136432036 '중화역']]

In [38]:
list = []

for item in starbucks_csv["address"]:
    data = item.split()
    if ( data[0] == "서울특별시"):
        for data1 in data:
            if data1.find("길") > 0:
                if data1[-1] != "구":
                    list.append(data1)
            elif data1.find("로") > 0:
                if data1[-1] != "구":
                    list.append(data1)
df = pd.DataFrame(list).value_counts()
df

남부순환로     16
테헤란로      15
강남대로      14
퇴계로       10
천호대로       9
          ..
법원로        1
보라매로3길     1
보라매로5길     1
보문로34길     1
흑석로        1
Length: 314, dtype: int64

Series([], dtype: int64)